@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&family=Caveat:wght@400;700&family=Chakra+Petch&family=Cinzel&family=Indie+Flower&family=Kanit:wght@300&family=Lugrasimo&family=Merienda:wght@300&family=Pacifico&family=Rock+Salt&family=Yatra+One&display=swap');
$background: linear-gradient(90deg, rgba(124, 95, 72, 1) 0%, rgba(225, 188, 158, 1) 50%, rgba(124, 95, 72, 1) 100%);
$navbar-footer: #181512;
$navbar-footer-text: #f3d8c1;
$dropdown: #493b2a;
$card: #f3d8c1;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Merienda', cursive;
  font-weight: 600;
}

body {
  background: $background;
}

//? ************************************* NAVBAR-SCSS-START *****************************************

.navbar {
  background-color: $navbar-footer;
  animation: NavbarAni 5s infinite;

  @keyframes NavbarAni {
    0% {
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    50% {
      box-shadow: rgba(44, 33, 24, 0.17) 0px -23px 5px 0px inset, rgba(44, 33, 24, 0.15) 0px -36px 30px 0px inset, rgba(243, 216, 193, 0.1) 0px -79px 10px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    100% {
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
  }

  .navbar-brand,
  .nav-link {
    color: $navbar-footer-text;
  }

  .dropdown-menu {
    background-color: $dropdown;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

    .dropdown-item {
      color: $navbar-footer-text;
    }

    .dropdown-item:hover {
      background-color: $navbar-footer;
    }
  }

  .form-control {
    background-color: $card;
  }

  .nav-search {
    background-color: $card;
  }

  .nav-search:hover {
    background-color: $dropdown;
    color: $card;
    text-shadow: 1px 1px 10px $navbar-footer;
    border: 1px solid $card;
  }
}

//? ************************************* NAVBAR-SCSS-END *****************************************

//* ************************************* MAIN-SCSS-START *****************************************

.header {
  width: 100%;
  height: 67rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  video {
    border-radius: 0px 0px 10px 10px;
  }
}

.content {
  width: 100%;
  height: auto;

  .info {
    width: 95%;
    height: 40rem;

    .info-1 {
      height: 90%;
      width: 30%;
      background-color: $card;
      border-radius: 30px;
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .info-2 {
      width: 30%;
      height: 90%;
      background-color: $card;
      border-radius: 30px;
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .info-3 {
      width: 30%;
      height: 90%;
      background-color: $card;
      border-radius: 30px;
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
  }

  .first-image {
    width: 100%;
    height: 50rem;
    background-color: $card;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-image: url("./img/header-3.jpg");
    background-position: bottom;
    background-size: cover;
  }

  .blog-up {
    width: 95%;
    height: 50rem;

    .blog-up-1 {
      height: 90%;
      width: 45%;
      background-color: $card;
      border-radius: 30px;
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .blog-up-2 {
      width: 45%;
      height: 90%;

      img {
        filter: drop-shadow(16px 16px 40px $navbar-footer);
      }
    }
  }

  .second-image {
    width: 100%;
    height: 50rem;
    background-color: $card;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-image: url("./img/header-1.jpg");
    background-position: top;
    background-size: cover;
  }

  .blog-down {
    width: 100%;
    height: 50rem;

    .blog-down-1 {
      height: 90%;
      width: 45%;

      img {
        filter: drop-shadow(16px 16px 40px $navbar-footer);
      }
    }

    .blog-down-2 {
      width: 45%;
      height: 90%;
      background-color: $card;
      border-radius: 30px;
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
  }

  .row {
    --bs-gutter-x: 0;
  }

  .three-image {
    width: 100%;
    height: 50rem;
    background-color: $card;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-image: url("./img/header-2.jpeg");
    background-position: bottom;
    background-size: cover;
  }

  .about {
    width: 95%;
    height: 40rem;

    .about-1 {
      height: 90%;
      width: 30%;
      background-color: $card;
      border-radius: 30px;
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .about-2 {
      width: 30%;
      height: 90%;
      background-color: $card;
      border-radius: 30px;
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .about-3 {
      width: 30%;
      height: 90%;
      background-color: $card;
      border-radius: 30px;
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
  }

  .four-image {
    width: 100%;
    height: 50rem;
    background-color: $card;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-image: url("./img/header-4.jpg");
    background-position: center;
    background-size: cover;
  }

  .products {
    width: 90%;
    height: 100rem;
    background-color: $card;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 30px;
  }

  .contact-us {
    width: 95%;
    height: 50rem;

    .form {
      height: 90%;
      width: 45%;
      background-color: $card;
      border-radius: 30px;
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .map {
      width: 45%;
      height: 90%;
      background-color: $card;
      border-radius: 30px;
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
  }

  .accordion-row {
    width: 95%;
    height: 40rem;

    .accordion {
      height: 90%;
      width: 45%;
      background-color: $card;
      border-radius: 30px;
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
  }

  .partner-row {
    width: 95%;
    height: 40rem;

    .partner {
      height: 90%;
      width: 45%;
      background-color: $card;
      border-radius: 30px;
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
  }

}



//* ************************************* MAIN-SCSS-END *****************************************

//? ************************************* FOOTER-SCSS-START *****************************************

.myFooter {
  width: 100%;
  height: 20rem;
  background-color: $navbar-footer;
  color: $navbar-footer-text;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

  .row {
    width: 90%;
    height: 100%;

    .col-2 {
      height: 80%;
    }
  }
}

//? ************************************* FOOTER-SCSS-END *****************************************